.about__cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 40px;
}

.about{
    height: 95em;
    padding-top: 2rem;
}
.about_experience{
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 30px;
    text-align: justify;
}



.about_me{
    margin-left: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 30px;
    text-align: justify;
}
.rahul{
    background: linear-gradient(var(--color-primary),transparent);
    height: 40rem;
  width: 25rem;
  position: absolute;
    left: calc(42% - 11rem);
    margin-top: 0.1em;
    transform: scalex(-1);
    margin-right: 23rem;
    border-radius: 3rem 12rem 3rem 12rem;
}
.experience{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-content: center;
    margin-left: 80px;
}
.about__card{
    background: linear-gradient(var(--color-primary),transparent);
    border: 1px solid transparent;
    border-radius:  1rem;
    text-align: center;
    transition: var(--transition);
    margin-left: 50px;
}

.about__experience{
    margin: 2rem 0 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__card_experience{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius:  1rem;
    text-align: center;
    transition: var(--transition);
    padding: 20px;
    width: 50%;
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__experience__icon {
    color: var(--color-white);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5{
    font-size:  1.2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.about__card small {
    font-size: 0.8rem;
    margin-top: 0;
    color: var(--color-light);
}

.about__container p {
    margin: 2rem 0 2.6rem;
    text-align: center;
    color: var(--color-light);
}

/* =============== MEDIA QUERIES (Medium devices) ============= */
@media screen and (max-width: 1024px) {
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__container p {
        margin: 1rem 0 1.5rem;
    }
}

/* =============== MEDIA QUERIES (Medium devices) ============= */
@media screen and (max-width: 600px) { 
   .about__cards{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
   }

   .about__container p {
    margin: 1.5rem 0;
   }
}
